<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestion de Clients</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container-fluid text-center">
    <div class="row">
        <h1>Gestion de clients</h1>
    </div>

    <div class="row">
        <h3>
            <a href="/gestion-location-voiture">Gestion de location de voiture</a>
        </h3>
    </div>
    <div class="row">
        <h3>
            <a href="/gestion-reservations">Gestion de Reservations</a>
        </h3>
    </div>
    <div class="row">
        <h3>
            <a href="/gestion-voiture">Gestion de Voitures</a>
        </h3>
    </div>
    <form th:action="@{gestion-client}" th:object="${client}" method="get">
        <div class="row">
            <div class="col"></div>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Nom</div>
                    </div>
                    <input type="text" name="nom" th:value="*{nom}" class="form-control">

                    <div class="input-group-prepend">
                        <div class="input-group-text">Telephone</div>
                    </div>
                    <input type="text" name="telephone" th:value="*{telephone}" class="form-control">
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Adresse</div>
                    </div>
                    <input type="text" name="adresse" th:value="*{adresse}" class="form-control">
                    <button type="submit" class="btn btn-primary">Chercher</button>
                </div>
            </div>
            <div class="col">
                <button class="btn btn-success">Ajouter</button>
            </div>
        </div>
    </form>
    <div class="row">
        <table id="table" class="table table-primary">
            <tr class="table-warning">
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Reservations</th>
                <th>Action</th>
            </tr>
            <tbody>

            <tr class="table-light" th:each="client: ${listClients}">
                <td th:text="${client.getNom()}"/>
                <td th:text="${client.getPrenom()}"/>
                <td th:text="${client.getTelephone()}"/>
                <td th:text="${client.getAdresse()}"/>
                <td>
                    <span th:if="${client.getReservations()?.isEmpty()}">Aucune reservation</span>
                    <span th:unless="${client.getReservations()?.isEmpty()}"><a
                            th:href="@{gestion-reservation/{id}(id=${client.getId()})}">Reservations</a></span>
                </td>
                <td>
                    <form th:action="@{'client/{id}'(id=${client.getId()})}" th:method="DELETE">
                    <button class="fa fa-trash btn btn-danger" aria-hidden="true" type="submit"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</html>