<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Client form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron d-flex align-items-center">
    <div class="container">
        <form th:action="@{/voiture-form/save}" th:object="${voiture}" th:method="POST">
            <div class="form-row">
                <input type="hidden" name="id" th:value="${voiture.id}">
                <div class="form-group col-4">
                    <label for="model">Model:</label>
                    <input type="text" class="form-control" id="model" th:value="${voiture.model}" name="model" required>
                </div>
                <div class="form-group col-2">
                    <label for="license">License:</label>
                    <input type="text" class="form-control" id="license" th:value="${voiture.license}" name="license" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-3">
                    <label for="year">Annee:</label>
                    <input type="text" class="form-control" id="year" th:value="${voiture.year}" name="year" required>
                </div>
                <div class="form-group col-3">
                    <label for="mileage">Milage:</label>
                    <input type="text" class="form-control" id="mileage" th:value="${voiture.mileage}" name="mileage" required>
                </div>
                <div class="form-group col-3">
                    <label for="price">Prix:</label>
                    <input type="text" class="form-control" id="price" th:value="${voiture.price}" name="price" required>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Confirm</button>
        </form>
    </div>
</div>
</div>

</body>
</html>
